
/* body {
  background-color: hsl(208, 100%, 97%, 50%);;
} */

#results--card--center {
    position: fixed;
    margin-bottom: -200px;
    margin-left: 5%;
    width: 90%;
    
}

.card {
  margin-top: 100px;
}

#listResults{
  list-style:none;
}

/* .card-header {
    margin-top: 10%;
} */
