/* Style the video: 100% width and height to cover the entire window */

/* .video-box {
    position: absolute;
    top: 40px; 
    left:0;
    height: 100%;
    width: 100%;
} */

#myVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* top: -100;
    right: 0; */
    /* min-width: 100%; 
    min-height: 100%;
    overflow: hidden; */
}

#myMovie {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 5%;
    /* background-image: url("../images/image.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    background-blend-mode: overlay;
}

/* Add some content at the bottom of the video/page */
/* .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
} */

/* Style the button used to pause/play the video
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
} */